*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Шрифты */

@font-face {
    font-family: MR;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MB;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: author;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
    font-family: MR;
}

/* Шапка(Header) */

.header {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-position: center center;
    background-size: cover;
    transition: all 1s ease-out;
}

.header-catal {
    display: flex;
    flex-direction: column;
    background-size: cover;
    transition: all 1s ease-out;
}
.header-conteiner {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 45px;
}

.logo {
    width: 50px;
    height: 50px;
}

.reg {
    display: flex;
}

.menu-conteiner {
    display: flex;
}

.menu {
    display: flex;
}

.menu-punkt {
    margin-right: 20px;
    list-style-type: none;
}

.menu-punkt a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-family: MR;
}

.mp-main {
    color: rgb(255, 255, 255);
}

.mp-main:visited {
    color: rgb(255, 255, 255);
}

.mp-main:hover {
    border-bottom: 3px solid rgb(255, 255, 255);
    font-family: MB;
    font-size: 18px;
    line-height: 22px;
}

.mp-catalog {
    color: black;
}

.mp-catalog:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
    font-family: MB;
    font-size: 18px;
    line-height: 22px;
}

.mp-catalog:visited {
    color: black;
}

/* ТЕКСТ ПО СЕРЕДИНЕ */

.header-conteiner-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 265px;
    color: white;
}

.header-tittle {
    letter-spacing: 0.02em;
    font-size: 24px;
    line-height: 29px;
    font-family: MB;
}

.header-text {
    font-family: MR;
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
    width: 300px;
}

/* СЛАЙДЕР */

.slider-conteiner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    margin-bottom: 20px;
}

.slid1 {
    transition: all 1s ease-out;
    background-image: url(../img/slid11.jpg);
}

.slid2 {
    transition: all 1s ease-out;
    background-image: url(../img/slid21.jpg);
}

.slid3 {
    transition: all 1s ease-out;
    background-image: url(../img/slid31.jpg);
}

.slid4 {
    transition: all 1s ease-out;
    background-image: url(../img/slid41.jpg);
}

/* Услуги */

.uslg {
    margin-top: 40px;
    height: 30vh;
}

.uslg-conteiner {
    display: flex;
    flex-direction: column;
}

.uslg-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: MB;
    font-size: 24px;
    line-height: 29px;
}

.uslg-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: MR;
}

.uslg-boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 150px;
    width: 250px;
    background: #a0ffb0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

/* КАТАЛОГ НА ГЛАВНОЙ */

.catalog_avto {
    height: 60vh;
}

.catalog-box {
    display: flex;
    justify-content: space-around;
}

.catalog-item {
    width: 360px;
    min-height: 450px;
    background: #e4f0f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: MR;
}

.item-image {
    display: flex;
    justify-content: center;
}

.item-image img {
    margin-top: 15px;
    height: 200px;
    width: 80%;
    border-radius: 5px;
}

.item-t {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.item-descript {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}

.item-price {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-family: MB;
    font-size: 24px;
    line-height: 29px;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.item-btn {
    margin-top: 10px;
    width: 200px;
    height: 38px;
    background: #000000;
    color: white;
    font-family: MB;
    border-radius: 5px;
}

.catalog-link {
    display: flex;
    justify-content: center;
}

.catalog-link:hover {
    font-family: MB;
    color: #000000;
}

.catalog-link a {
    font-family: MR;
    margin-top: 30px;
    color: #6c6c6c;
    text-decoration: none;
}

.catalog-link a:hover {
    font-family: MB;
    color: #000000;
    text-decoration: underline;
}
.catalog-title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: MB;
    font-size: 28px;
}
.column-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* Услуги */

.catalog_servis {
    height: 30vh;
}

/*Форма */

.form_manager {
    height: 30vh;
}

/* Футер */

.footer {
    font-family: author;
    font-size: 16px;
}

/* ФОРМА ДОБАВЛЕНИЯ АВТОМОБИЛЯ */

.form-cont {
    display: flex;
    justify-content: center;
}

.form-post {
    display: flex;
    min-width: 400px;
    justify-content: center;
    flex-direction: column;
}

.form-post label {
    font-family: MB;
}

.form-post textarea {
    margin-top: 15px;
    margin-bottom: 15px;
    resize: none;
    height: 150px;
    /* border: none;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    border-right: 2px solid black; */
}

.inp-add {
    border: none;
    border-bottom: 2px solid #000;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: MR;
}

/* catalog-item */
.catl-item {
    margin-top: 50px;
    width: 800px;
    min-height: 450px;
    margin-left: 50px;
    margin-right: 50px;
    background: #e4f0f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: MR;
}

.catalog-conts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-catl {
    display: flex;
    flex-direction: column;
}
.catalog-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* clients */
.client-box {
    display: flex;
    flex-direction: column;
}
.client {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
/* servis */
.servis {
    height: 70vh;
}
/* footee */
.footer {
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.footer-conteiner {
    border-top: 2px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* addd */
.inps {
    appearance: none;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.sels {
    background-image: url(
        data:image/svg + xml,
        %3csvgxmlns="http://www.w3.org/2000/svg"fill="none"viewBox="0 0 20 20"%3e%3cpathstroke="%236b7280"stroke-linecap="round"stroke-linejoin="round"stroke-width="1.5"d="M6 8l4 4 4-4"/%3e%3c/svg%3e
    );
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1.5rem;
}
