*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Шрифты */
@font-face {
  font-family: MR;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MB;
  src: url(../fonts/Montserrat-Bold.ttf);
}
/* Шапка(Header) */
.header {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-position: center center;
  background-size: cover;
  transition: all 1s ease-out;
}
.header-conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 45px;
}
.logo {
  width: 50px;
  height: 50px;
}
.menu {
  display: flex;
}
.menu-punkt {
  margin-right: 20px;
  list-style-type: none;
}
.menu-punkt a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-family: MR;
}

.mp-main {
  color: rgb(255, 255, 255);
}
.mp-main:visited {
  color: rgb(255, 255, 255);
}
.mp-main:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
  font-family: MB;
  font-size: 18px;
  line-height: 22px;
}
.mp-catalog:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
  font-family: MB;
  font-size: 18px;
  line-height: 22px;
}
.mp-catalog:visited {
  color: black;
}

/* ТЕКСТ ПО СЕРЕДИНЕ */
.header-conteiner-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 265px;
  color: white;
}
.header-tittle {
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 29px;
  font-family: MB;
}
.header-text {
  font-family: MR;
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  width: 300px;
}
/* СЛАЙДЕР */
.slider-conteiner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  margin-bottom: 20px;
}

.slid1 {
  background-image: url(../img/bg-header.png);
}
.slid2 {
  background-image: url(../img/logo.png);
}
.slid3 {
  background-image: url(../img/bg-header.png);
}
.slid4 {
  background-image: url(../img/logo.png);
}
/* Услуги */
.uslg {
  margin-top: 40px;
  height: 30vh;
}
.uslg-conteiner {
  display: flex;
  flex-direction: column;
}
.uslg-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: MB;
}
.uslg-box {
  display: flex;
  justify-content: space-around;
  font-family: MR;
}
.uslg-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
