*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Шрифты */
@font-face {
  font-family: MR;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MB;
  src: url(../fonts/Montserrat-Bold.ttf);
}
/* Шапка(Header) */
.header {
  height: 70vh;
  background-image: url(../img/bg-header.png);
  background-position: center center;
  background-size: cover;
}
.header-conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 45px;
}
.logo {
  width: 50px;
  height: 50px;
}
.menu {
  display: flex;
}
.menu-punkt {
  margin-right: 20px;
  list-style-type: none;
}
.menu-punkt a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 22px;
  font-family: MR;
}
.menu-punkt a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
  font-family: MB;
  font-size: 18px;
  line-height: 22px;
}
.menu-punkt a:visited {
}
.header-conteiner-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 265px;
  color: white;
}
.header-tittle {
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 29px;
  font-family: MB;
}
.header-text {
  font-family: MR;
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  width: 300px;
}
